body {
    font-family: "Roboto", sans-serif;
}

.section-header,
.section-footer {
    background-color: #1f2937;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header-links {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    gap: 10px;
}

.header-links a {
    text-decoration: none;
}

.header-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.header-links a,
.header-desc,
.section-footer  {
    font-size: 18px;
    color: #e5e7eb;
}